    * {
        box-sizing: border-box;
    }
    
    body {
        
    color:white;
    font-weight:bold;
       
    }
    
    h1 {
        text-align: center;
    }
    
    div#hello {
        background-color: rgb(200,30,30);
        border-style: solid;
        text-align: center;
        font-weight: bold;
        border-radius: 5px;
    }
    

    
    h3 {
        color: white;
    }
    
    .Mainpage {
        background-color: #333;
        margin: 50px;
        padding: 16px 15px;
    }
    
    ul {
        text-align: center;
        list-style-type: none;
        background-color: #333;
        width: 100%;
    }
    
    li {
        color: white;
        padding: 14px 16px;
    }
    
    li:hover {
        background-color: #f00;
    }
    
    p {
        text-align: center;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    form#f2 {
        text-align: center;
    }
    
 
    
    div#i:hover {
        opacity: 0.8;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:link,
    a:visited {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }